# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Cracked Zombie Mod Config
# Michael Sheppard (crackedEgg)
#  For Minecraft Version 1.7.10
# 
##########################################################################################################

general {
    # doorBusting, set to true to have zombies try to break down doors,
    # otherwise set to false. It's quieter.
    B:doorBusting=true

    # maxSpawn, maximum number of crackedzombies per spawn event
    I:maxSpawn=10

    # minSpawn, minimum number of crackedzombies per spawn event
    I:minSpawn=2

    # Sickness, set to true to have contact with zombies poison the player.
    B:sickness=false

    # creeperSpawns, set to false to disable creeper spawning, set to true
    # if you want to spawn creepers
    B:spawnCreepers=true

    # endermanSpawns, set to false to disable enderman spawning, set to true
    # if you want to spawn enderman
    B:spawnEnderman=true

    # skeletonSpawns, set to false to disable skeleton spawning, set to true
    # if you want to spawn skeletons
    B:spawnSkeletons=true

    # slimeSpawns, set to false to disable slime spawning, set to true
    # if you want to spawn slimes
    B:spawnSlime=true

    # spiderSpawns, set to false to disable spider spawning, set to true
    # if you want to spawn spiders
    B:spawnSpiders=true

    # witchSpawns, set to false to disable witch spawning, set to true
    # if you want to spawn witches
    B:spawnWitches=true

    # zombieSpawnProb adjust to probability of zombies spawning
    # The higher the number the more likely zombies will spawn.
    I:zombieSpawnProb=100

    # zombieSpawns allows/disallows default zombies spawns, default is false,
    # no default minecraft zombies will spawn. Only the CrackedZombies will spawn.
    # If set to true, fewer CrackedZombies will spawn.
    B:zombieSpawns=true
}


