# Configuration file

client {
    # Does the block drops teleporting by Ender tools cause particle effects
    B:UseToolParticles=true

    # Does the block drops teleporting by Ender tools play the sound effect
    B:UseToolSounds=true
}


generic {
    # Is the Ender Bow allowed to teleport players (directly or in a 'stack' riding something)
    B:EnderBowAllowPlayers=false

    # Can the Ender Bow be used in the 'TP Self' mode
    B:EnderBowAllowSelfTP=true

    # Maximum amount the Ender Bucket can hold, in millibuckets. Default: 16000 mB (= 16 buckets).
    I:EnderBucketCapacity=16000

    # Is the Ender Lasso allowed to teleport players (directly or in a 'stack' riding something)
    B:EnderLassoAllowPlayers=false

    # Do items require Ender Charge to operate? (stored in Ender Capacitors)
    B:UseEnderCharge=true
}


version {
    # Internal config file version tracking. DO NOT CHANGE!!
    I:ConfigFileVersion=40
}


